<!DOCTYPE html>
<html>
<head>
	<title>Roasatom Test Task</title>
</head>
<body>

<h1>Write you movie review and find out&nbsp;is it positive&nbsp;or negative?</h1>

<form action="{% url 'prediction' %}" method="post">
	{% csrf_token %}


<h3>My review</h3>
<div><textarea name="review_text" rows="12" cols="35">Write here</textarea><br></div>
<input type="submit" name="submitInfo" value="submit">
<div> </div></form>

<div class="output">
<h2>Review = {{review}}</h2>
</div>
<div class="output">
<h2>Prediction = {{prediction}}</h2>
</div>

<div class="output">
<h2>Rating = {{rating}}</h2>
</div>

</body>
</html>
